<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
{% from datetime import datetime %}
{% from HwWebUtil import ProjectStatus %}
{% from HwWebUtil import Exp5Type %}

<head>
    <title>信息隐藏实验作业提交</title>
{% include "./reference.html" %}
     <script>
        $(document).ready(function(c) {
            $("#header-title").text("{{a_pro["title"]}}-报告提交");
                {% if p_up_record == None %}
                    $("#program .history").html('<p>还未上传，请按时上传，截止日期过后上传无效</p>')
                {% else %}
                    $("#program .history").html('<p>最近一次修改时间：{{p_up_record['uploadTime']}}</p><p><a href="/exp5/{{a_pro['pro_id']}}/download/{{p_up_record['type']}}" data-ajax="false">{{p_up_record["year"]}}-{{p_up_record["pro_id"]}}-{{info['userId']}}-program.{{p_up_record['file_suffix']}}</a></p>')
                {% end %}
                {% if r_up_record == None %}
                    $("#report .history").html('<p>还未上传，请按时上传，截止日期过后上传无效</p>')
                {% else %}
                    $("#report .history").html('<p>最近一次修改时间：{{r_up_record['uploadTime']}}</p><p><a href="/exp5/{{a_pro['pro_id']}}/download/{{r_up_record['type']}}" data-ajax="false">{{r_up_record["year"]}}-{{r_up_record["pro_id"]}}-{{info['userId']}}.{{r_up_record['file_suffix']}}</a></p>')
                {% end %}

                {% if flag==ProjectStatus['END'] %}
                  $("span#warn").text("练习结束")
                  $("form#upload_form input[type=file]").attr("disabled","disabled");
                  $("form#upload_form input[type=button]").button({"disabled":true});
                {% elif flag==ProjectStatus['PUBLISH'] %}
                    $("#programButton").on("click", function(event){
                        event.preventDefault()
                        $("#upload_form").attr("action", "/exp5/{{a_pro['pro_id']}}/upload/{{Exp5Type['PROGRAM']}}")
                        $("#upload_form").submit()
                    });
                    $("#reportButton").on("click", function(event){
                        event.preventDefault()
                        $("#upload_form").attr("action", "/exp5/{{a_pro['pro_id']}}/upload/{{Exp5Type['EXPREPORT']}}")
                        $("#upload_form").submit()
                    });
                {% end %} 
        });
        </script>
</head>
<body>
<div id="container" data-role="page" data-theme="b">
{% include "./exp5-header.html" %}

    <div role="main" class="ui-content">
    	<span id="warn"></span>
            <table class="uploadTable">
                	<tr><td>标题</td><td>{{a_pro["title"]}}</td></tr>
                	
            </table>
        	<div class="note">备注：实验的program和bmp图片都是以<b>个人</b>为单位上传，上传的文件为<b>py格式和bmp格式</b>，请同学们将ppt或者doc格式另存为bmp格式后再上传。上传后文件名将会以组号命名，上传后可再次上传，后续上传文件将覆盖前面上传过的。<br/>
                <p>请同学们在练习开始后按时提交，<b>提交日期过后本系统并不关闭，但是过期后提交的不计入分数</b>。</p>
                <hr/></div>
        	<div>
                	<form id="upload_form" action="/exp5/{{a_pro['pro_id']}}/upload" method="post" enctype="multipart/form-data" data-ajax="false">
                                        <div class="action">
                                            <table class="uploadTable"><tr><td>Upload Program</td><td>Upload Exercise Picture</td></tr>
                                                <tr><td id="program">
                                                <div class="history"></div>
                                                <input type="file" name="program" data-clear-btn="true"/>
                                                <input type="button" id="programButton" value="上传program" data-inline="true" data-icon="check"/>
                                            </td><td id="report">
                                                <div class="history"></div>
                                                <input type="file" name="report"  data-clear-btn="true"/>
                                                <input type="button" id="reportButton" value="上传加密图片" data-inline="true" data-icon="check"/>
                                            </td></tr></table>
                                        </div>
                	</form>
        	</div>
    </div>


{% include "./footer.html" %}
</div>
</body>
</html>
