{% from datetime import datetime %}
{% from HwWebUtil import QuizStatus %}
<script>
$(function() {
  var userId = "{{info['userId']}}"
    regExp = new RegExp("^ucas", "i")
    if(userId.match(regExp)!=null){
      $('<li><a href="/api/clearProjectRecord" data-ajax="false">清除游戏信息</a></li>').appendTo("#project_menu")
      $('<li><a href="/api/setProjectRecord" data-ajax="false">设置游戏信息</a></li>').appendTo("#project_menu")
    }
    $("#project_menu").listview("refresh");
  });

var global_group_name = "{{info['group']}}";
var global_classNo = "{{info['classNo']}}";

  </script>
<div id="nav-panel" data-role="panel">
    <ul data-role="listview" class="ui-listview-outer">
       <li data-iconpos="right" data-shadow="false" data-corners="false"><a href="/" data-ajax="false">首页</a></li>
      <li data-role="collapsible" data-iconpos="right" data-shadow="false" data-corners="false">
        <h2 class="legend">Homework</h2>
        <ul id="quiz_menu" data-role="listview" data-corners="false">
          {% for quizIndex in quizs %}
            {% set clickEvent = "" %}
            {% if quizIndex['status']  == QuizStatus["UNPUBLISH"] or datetime.now() < datetime.strptime(quizIndex["releaseTime"], "%Y-%m-%d %H:%M:%S")%} 
              {% set statusStr = "未发布" %}
              {% set clickEvent = "javascript:alert('未发布');href='/main'" %}
            {% elif quizIndex['status']  == QuizStatus["PUBLISH"]  and datetime.now() < datetime.strptime(quizIndex["deadline"],"%Y-%m-%d %H:%M:%S")   %}
              {# set clickEvent = "javascript:alert('已发布')" #}
              {% set statusStr = "已发布" %}
                <li><a href="/quiz/{{quizIndex['quiz_id']}}" title="quiz{{quizIndex['quiz_id']}}" onclick="{% raw clickEvent %}" data-ajax="false">Homework{{quizIndex['quiz_id']}}({{escape(statusStr)}})&nbsp; </a></li>
            {% elif  quizIndex['status'] != QuizStatus["REVIEW"] and not (datetime.now() < datetime.strptime(quizIndex["deadline"],"%Y-%m-%d %H:%M:%S") ) %}
              {# set clickEvent = "javascript:alert('已截止')" #}
              {% set statusStr = "已截止" %}
                <li><a href="/quiz/{{quizIndex['quiz_id']}}" title="quiz{{quizIndex['quiz_id']}}" onclick="{% raw clickEvent %}" data-ajax="false">Homework{{quizIndex['quiz_id']}}
({{escape(statusStr)}})&nbsp; </a></li>
            {% elif quizIndex['status'] == QuizStatus["REVIEW"] %}
              {# set clickEvent = "javascript:alert('已评分')" #}
              {% set statusStr = "已评分" %}
                <li><a href="/quiz/{{quizIndex['quiz_id']}}" title="quiz{{quizIndex['quiz_id']}}" onclick="{% raw clickEvent %}" data-ajax="false">Homework{{quizIndex['quiz_id']}}({{escape(statusStr)}})&nbsp; </a></li>
            {% end %}
          {% end %}      
        </ul >
      </li>
      <li data-role="collapsible" data-iconpos="right" data-shadow="false" data-corners="false">
        <h2 class="legend">Experiment</h2>
        <ul id="project_menu" data-role="listview" data-corners="false">
          <li><a href="/project" data-ajax="false">实验日程表和实验报告提交入口</a></li>
          <li><a href="/code_project" data-ajax="false">信息隐藏编程</a></li>
          </ul>
       </li>
     </ul>
  </div>
  {% include "./header-password.html" %}

  <div id="person_status" data-role="header">
    <a href="#nav-panel" data-icon="bars">导航</a>
    <h1 id="header-title">第一次作业</h1>
    <a href="#nav-info-modify" data-icon="user" data-iconpos="right">{{info['name']}} &nbsp;&nbsp;{{info['userId'].upper()}}&nbsp;&nbsp;{{info['yearOfEntry']}}级&nbsp;&nbsp;{{info['classNo']}}班&nbsp;&nbsp;{{info['group']}}组&nbsp;&nbsp;</a>
  </div>

<script>
if(global_group_name=="") {
	var tmp ='\
        <li><a href="#nav-info-modify" target="_blank" data-ajax="false">正确输入组号后才可进入实验</a></li>'
     	$("#project_menu").append(tmp);
}
else{
	var tmp ='\
        <li><a href="http://csintro.ucas.ac.cn:8889/exp2" target="_blank" data-ajax="false">实验二（算法）</a></li>\
        <li><a href="http://csintro.ucas.ac.cn:8889/exp3" target="_blank" data-ajax="false">实验三（网络）</a></li>\
	      <li><a href="http://csintro.ucas.ac.cn:8889/exp4" target="_blank" data-ajax="false">实验四（系统）</a></li>'
     	$("#project_menu").append(tmp);
}
</script>
