<div id="nav-info-modify"  data-role="panel" data-position="right">
    <a href="/exit" data-ajax="false">退出登录</a>
      <p class="validateTips">*每一项都必须填</p>
   
    <form action="/password" method="post" id="form_modify_pass" data-ajax="false">

      <fieldset>
        <label for="origin_pass">原密码</label>
        <input type="password" name="origin_pass" id="origin_pass" value="" data-clear-btn="true">
        <label for="new_pass">新密码</label>
        <input type="password" name="new_pass" id="new_pass" value="" data-clear-btn="true">
        <label for="new_pass_again">再次输入新密码</label>
        <input type="password" name="new_pass_again" id="new_pass_again" value="" data-clear-btn="true">
        <input type="submit" value="确认修改" id="info-modify-button" data-icon="check" data-iconpos="right">
      </fieldset>
    </form>
  </div>