<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>计算机导论 作业系统</title>
{% include "./htmlhead.template" %}
</head>

<body>

{% include "./person_status.template" %}
<div id="container">
{% include "./navigator.template" %}

{% include "./notices.template" %}
</div>
<div class="footer">
        <p>中国科学院大学 版权所有 &copy;  2005-2014 地址: 北京市石景山区玉泉路19号(甲) 邮编: 100049</p>
    </div>
</body>

</html>