<div role="main" class="ui-content">

<h3>最新通知</h3>
<p><a href="http://csintro.ucas.ac.cn/static/content/实验报告模板.doc" data-ajax="false">实验报告模板下载</a></p>
<p><a href="/project" data-ajax="false">实验提交文件的详细时间安排表和入口，请点击此处查看</a></p>
{% for notice in notices %}
<div class="notice_content">
	<div class="brief">
	<span style="color:{{notice['importance']}}"> [{% raw notice['description'] %}] </span><span>通知人&nbsp;{% raw notice['creator'] %}</span>
	</div>
	<div class="detail">{% raw notice['content'] %}</div>

</div>
{% end %}

<p>&nbsp;</p>
</div>
