<div id="content">

<h3>最新通知</h3>
{% for notice in notices %}
<div class="notice_content">
	<div class="brief">
	<span style="color:{{notice['importance']}}"> [{% raw notice['description'] %}] </span><span>通知人&nbsp{% rawnotice['creator'] %}</span>
	</div>
	<div class="detail">{% raw notice['content'] %}</div>

</div>
{% end %}


</div>