<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>实验日程表</title>
{% include "./reference.html" %}
<script>
$(document).ready(function(c) {
	$("#header-title").text('实验日程表');
	var scheduleTable = JSON.parse('{% raw scheduleTable %}')
	console.log('{% raw scheduleTable %}')
	console.log(scheduleTable)
	var head = $("<tr id='head'><td>班级</td></tr>")
	var dates = scheduleTable["date"]
	var table = scheduleTable["table"]
	$.each(dates , function( key, value ) {
		var tmp = $("<td>第" +(key+1)+"次实验</br> 实验开放时间："+ value[0] + "~" + value[1] + "<br/>" + "presentation提交截止时间为" + value[2] +"<br/>" + "report提交截止时间为" + value[3]+"</td>")
		tmp.appendTo(head)
	});
	head.appendTo("#schedule")

	$.each(table , function( key, value ) {
		
		var tmp = $("<tr><td>"+key+"班</td></tr>")
		$.each(value , function( key, val ) {
			var exp_str
			switch(val)
			{
			case "1":
			  exp_str = "图灵机实验"
			  break;
			case "2":
			  exp_str = "算法实验"
			  break;
			 case "3":
			  exp_str = "网络实验"
			  break;
			default:
			  exp_str = "系统实验"
			}
			var tdTmp = $("<td>"+exp_str+"</td>")
			tdTmp.appendTo(tmp)
		});
		tmp.appendTo("#schedule")
	});
});

var global_group_name = "{{info['group']}}";
var global_classNo = "{{info['classNo']}}";

</script>
</head>
<body>
<div id="container" data-role="page" data-theme="b">
{% include "./project-header.html" %}

<div role="main" class="ui-content">
	<p>点击<b>上方导航</b>到指定实验提交报告</p>
	<p><a href="/main" data-ajax="false">&lt;&lt;返回主页</a></p>
	<table id="schedule" class="schedule">
		<caption><h2>全年级的实验日程表</h2></caption>

	</table>
</div>
{% include "./footer.html" %}
</body>
