<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% from datetime import datetime %}
{% from HwWebUtil import ProjectFlag %}


<head>
    <title>大实验报告提交</title>
{% include "./htmlhead.template" %}
     <script>
        $(document).ready(function(c) {
            {% if flag==ProjectFlag['END'] %}
            	$("span#warn").text("截止日期已过，您没有按时提交报告。")
            	$("form#upload_form input").attr("disabled","disabled")
            {% elif flag==ProjectFlag['SUBMIT'] %}
            	$("div#history").html('<p>最近一次修改时间：{{up_record['uploadTime']}}</p><p><a href="/project/{{a_pro['pro_id']}}/download">{{up_record['userId']}}.{{up_record['file_suffix']}}</a></p><p>可以重新上传以覆盖</p>')
            {% elif flag==ProjectFlag['DEAD'] %}
            	$("div#history").html('<p>最近一次修改时间：{{up_record['uploadTime']}}</p><p><a href="/project/{{a_pro['pro_id']}}/download">{{up_record['userId']}}.{{up_record['file_suffix']}}</a></p><p>截止日期已过，无法重新上传</p>')
            	$("form#upload_form input").attr("disabled","disabled")
            {% else %}
            {% end %}
            $("form#upload_form input").button()
        });
        </script>
</head>
<body>

{% include "./person_status.template" %}
<div id="container">
{% include "./project_navigator.template" %}
{% if main != 1 %}
<div id="content">
	<span id="warn"></span>
<table border=1>
	<tr><td>标题</td><td>实验{{a_pro["pro_id"]}}:{{a_pro["title"]}}</td></tr>
	<tr><td>开始日期</td><td>{{a_pro["releaseTime"]}}</td></tr>
	<tr><td>截止日期</td><td>{{a_pro["deadline"]}}</td></tr>
</table>
<div>
	<span>提交报告&nbsp; 备注：上传后文件名将会以学号命名</span>
	<div>
	<form id="upload_form" action="/project/{{a_pro['pro_id']}}/upload" method="post" enctype="multipart/form-data">
		<div id="history"></div>
		<input type="file" name="uploadfile" />
		<input type="submit" value="上传"/>
	</form>
	</div>
</div>
</div>
{% end %}
</div>
<div class="footer">
        <p>中国科学院大学 版权所有 &copy;  2005-2014 地址: 北京市石景山区玉泉路19号(甲) 邮编: 100049</p>
</div>
</body>
</html>