{% from datetime import datetime %}
{% from HwWebUtil import ProjectStatus %}
<div id="nav-panel" data-role="panel">
        <ul id="project_menu" data-role="listview" data-corners="false">
          <li><a href="/main" data-ajax="false">&lt;&lt;返回首页</a></li>
          <li><a href="/project" data-ajax="false">&lt;&lt;返回实验日程表</a></li>
        {% for pro in projects %}
          {% if pro['status']  == ProjectStatus["UNPUBLISH"] %} 
            {% set statusStr = "实验未开始" %}
          {% elif pro['status']  == ProjectStatus["PUBLISH"]  and datetime.now() < datetime.strptime(pro["deadline"],"%Y-%m-%d %H:%M:%S")   %}
           {% set statusStr = "实验阶段" %}
          {% else %}
            {% set statusStr = "实验已结束" %}
          {% end %}
            <li><a href="/project/{{pro['pro_id']}}" data-ajax="false">{{pro['title']}} ({{statusStr}}) &nbsp;报告提交</a></li>
        {% end %}
        </ul >
  </div>
  {% include "./header-password.html" %}

  <div id="person_status" data-role="header">
    <a href="#nav-panel" data-icon="bars">导航</a>
    <h1 id="header-title">第一次作业</h1>
    <a href="#nav-info-modify" data-icon="user" data-iconpos="right">{{info['name']}} &nbsp;&nbsp;{{info['userId'].upper()}}&nbsp;&nbsp;{{info['yearOfEntry']}}级&nbsp;&nbsp;{{info['classNo']}}班&nbsp;&nbsp;{{info['group']}}组&nbsp;&nbsp;</a>
  </div>
