<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% from datetime import datetime %}
{% from HwWebUtil import ProjectStatus %}
{% from HwWebUtil import UploadType %}

<head>
    <title>实验报告提交</title>
{% include "./reference.html" %}
     <script>
        $(document).ready(function(c) {
            $("#header-title").text("实验报告提交");

            {% if main != 1 %}
                {% if p_up_record == None %}
                    $("#presentation .history").html('<p>还未上传，请按时上传，截止日期过后上传无效</p>')
                {% else %}
                    $("#presentation .history").html('<p>最近一次修改时间：{{p_up_record['uploadTime']}}</p><p><a href="/project/{{a_pro['pro_id']}}/download/{{p_up_record['type']}}" data-ajax="false">{{p_up_record["year"]}}-{{p_up_record["pro_id"]}}-{{p_up_record['group']}}-presentation.{{p_up_record['file_suffix']}}</a></p>')
                {% end %}
                {% if r_up_record == None %}
                    $("#report .history").html('<p>还未上传，请按时上传，截止日期过后上传无效</p>')
                {% else %}
                    $("#report .history").html('<p>最近一次修改时间：{{r_up_record['uploadTime']}}</p><p><a href="/project/{{a_pro['pro_id']}}/download/{{r_up_record['type']}}" data-ajax="false">{{r_up_record["year"]}}-{{r_up_record["pro_id"]}}-{{r_up_record['group']}}-report.{{r_up_record['file_suffix']}}</a></p>')
                {% end %}

                {% if flag==ProjectStatus['END'] %}
                  $("span#warn").text("实验结束")
                  $("form#upload_form input[type=file]").attr("disabled","disabled");
                  $("form#upload_form input[type=button]").button({"disabled":true});
                {% elif flag==ProjectStatus['PUBLISH'] %}
                    $("#presentationButton").on("click", function(event){
                        event.preventDefault()
                        $("#upload_form").attr("action", "/project/{{a_pro['pro_id']}}/upload/{{UploadType['PRESENTATION']}}")
                        $("#upload_form").submit()
                    });
                    $("#reportButton").on("click", function(event){
                        event.preventDefault()
                        $("#upload_form").attr("action", "/project/{{a_pro['pro_id']}}/upload/{{UploadType['EXPREPORT']}}")
                        $("#upload_form").submit()
                    });
                {% end %} 
            {% end %}
        });
        </script>
</head>
<body>
<div id="container" data-role="page" data-theme="b">
{% include "./project-header.html" %}

    <div role="main" class="ui-content">
        {% if main != 1 %}
    	<span id="warn"></span>
            <table class="uploadTable">
                	<tr><td>标题</td><td>实验{{a_pro["pro_id"]}}：{{a_pro["title"]}}</td></tr>
                	<tr><td>提交开始日期</td><td>{{a_pro["title"]}}第一次实验课</td></tr>
                	<tr><td>Presentation截止日期</td><td>本班{{a_pro["title"]}}的第二次实验课（做Presentation）当天晚上23:00（即本实验开始的后一周）</td></tr>
                            <tr><td>Report截止日期</td><td>本班{{a_pro["title"]}}的下一个实验开始的前一天晚上23:00（即本实验开始的后两周）</td></tr>
            </table>
        	<div class="note">备注：实验的Presentation和Report都是以组为单位上传。上传后文件名将会以组号命名，上传后同组成员可再次上传，后续上传文件将覆盖前面上传过的。<br/>
                <p>请同学们在实验开始后按时提交，<b>提交日期过后本系统并不关闭，但是过期提交的不再接收</b>。</p>
                <hr/></div>
        	<div>
                	<form id="upload_form" action="/project/{{a_pro['pro_id']}}/upload" method="post" enctype="multipart/form-data" data-ajax="false">
                                        <div class="action">
                                            <table class="uploadTable"><tr><td>Upload Presentation of Your Group</td><td>Upload Experiment Report of Your Group</td></tr>
                                                <tr><td id="presentation">
                                                <div class="history"></div>
                                                <input type="file" name="presentation" data-clear-btn="true"/>
                                                <input type="button" id="presentationButton" value="上传Presentation" data-inline="true" data-icon="check"/>
                                            </td><td id="report">
                                                <div class="history"></div>
                                                <input type="file" name="report"  data-clear-btn="true"/>
                                                <input type="button" id="reportButton" value="上传实验报告" data-inline="true" data-icon="check"/>
                                            </td></tr></table>
                                        </div>
                	</form>
        	</div>
        {% end %}
    </div>


{% include "./footer.html" %}
</div>
</body>
</html>