<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% from datetime import datetime %}
{% from HwWebUtil import QuizStatus %}
{% from HwWebUtil import QuesStatus %}
{% from HwWebUtil import QuizFlag %}
{% from HwWebUtil import QuizType %}
<head>
    <title>{{a_quiz["title"]}}</title>
{% include "./htmlhead.template" %}
    <script>
        $(document).ready(function(c) {
            $("input#save").click(function(e){
                $("form").attr("action","/quiz/{{ a_quiz['quiz_id'] }}/save");
                $("form").submit();
            });
            {% if flag > QuizFlag["UNDONE"] %}
                {% set count = 0 %}
                {% for a_solution in user_quiz["solutions"] %}
                    {% set count = count + 1 %}
                    {% if a_solution['solution'] %}  
                        {% if a_solution["type"] == 1 %}
                        $("input#{{count}}_{{a_solution['solution'][0]}}").attr("checked", "checked");
                        {% elif a_solution["type"] == 2 %}
                            {% for a_ans in a_solution["solution"] %}
                                $("input#{{count}}_{{a_ans}}").attr("checked", "checked");
                            {% end %}
                        {% else %}
                            $("textarea#{{count}}_Text").val(unescapeHtml("{{a_solution['solution'][0]}}"));
                        {% end %}
                    {% end %}
                {% end %}
                {% if flag != QuizFlag["SAVE"]
                 %}
                    $("form#quiz_form input").button({ disabled: true });
                    $("form#quiz_form textarea").attr("disabled", "disabled");
                    {% if flag == QuizFlag["FULL_SCORED"] %}
                        $("#all_score").text("(总得分: {{user_quiz['all_score']}})")
                        $("#all_score").css({"color":"red"})
                        {% for i in range(len(user_quiz["solutions"])) %}
                            var tmp = unescapeHtml("{{','.join(a_quiz['content'][i]['answer']) }}")
                            $("#answer_{{i+1}}").text("标准答案：" + tmp + "(得分：{{user_quiz['solutions'][i]['score']}})");
                        {% end %}
                    {%elif flag == QuizFlag["SEMI_SCORED"] %}
                        $("#all_score").text("(客观题得分: {{user_quiz['all_score']}})")
                        $("#all_score").css({"color":"red"})
                        {% for i in range(len(user_quiz["solutions"])) %}
                            {% if user_quiz['solutions'][i]["type"] != QuizType["ESSAYQUES"] %}
                                $("#answer_{{i+1}}").text("标准答案：{{",".join(a_quiz['content'][i]['answer']) }}(得分：{{user_quiz['solutions'][i]['score']}})");
                            {% else %}
                                var tmp = unescapeHtml("{{','.join(a_quiz['content'][i]['answer']) }}")
                                $("#answer_{{i+1}}").text("标准答案：" + tmp + "(得分：还未批改)");
                            {% end %}
                        {% end %}
                    {% end %}
                {% end %}
            {% elif flag == QuizFlag["END"] %}
                $("form#quiz_form input").button({ disabled: true });
                $("form#quiz_form textarea").attr("disabled", "disabled");
                $("#all_score").text("截至日期前没有提交作业(总得分: 0),无法查看标准答案")
                $("#all_score").css({"color":"red"})
            {% else %}
            {% end %}
            {% if flag == QuizFlag["UNDONE"] or flag == QuizFlag["SAVE"] %}
                $("div#warn").text("请务必在截止日期前提交作业！暂存功能仅供下次继续做，并不能替代提交。提交后无法修改！")   
            {% elif flag == QuizFlag["SUB_NOTSCORED"]%}
                $("div#warn").text("作业已提交，还未修改")      
            {% end %}
        });
        </script>
</head>

<body>
{% include "./person_status.template" %}

{% include "./navigator.template" %}

<div id="content">
        <form id="quiz_form" method="post" action="/quiz/{{ a_quiz['quiz_id'] }}/submit">
            <div id="quiz_info">
                <div id="quiz_title"><h4>Homework{{a_quiz["quiz_id"]}}&nbsp;&nbsp;{{a_quiz["title"]}}</h4></div>
                <div id="release_time" class="time">发布日期：{{  a_quiz['releaseTime'] }}</div>
                <div id="deadline" style="color:green" class="time">截止日期：{{  a_quiz['deadline']  }}</div>
                <div id="warn"  style="color:red" class="warn"></div>

                <div  id="quiz_description">作业概述：{% raw a_quiz["description"] %}</div>
                <div id="all_score"></div>
            </div>
            <div id="quiz_content">
                {% set count = 0 %}
                {% for a_ques in a_quiz["content"] %} 
                {% set count = count+1 %}
                    {% if a_ques["type"]  != QuizType["ESSAYQUES"] %}
                        <div class="quiz_choices"><p>{{count}}.&nbsp;{% raw a_ques["head"] %}</p>
                            <!-- <fieldset data-role="controlgroup">
                                <legend>{{count}}.&nbsp;{% raw a_ques["head"] %}</legend> -->
                            {% for a_choice in a_ques["choices"] %} 
                                    <input id="{{count}}_{{ a_choice['value'] }}" name="quiz_{{a_quiz['quiz_id']}}_{{count}}" type="radio" value="{{ a_choice['value'] }}" />
                                    <label for="{{count}}_{{ a_choice['value'] }}"> {{ a_choice["value"] }}.&nbsp;{% raw a_choice["text"] %}</label>
                            {% end %}
                            <!-- </fieldset> -->
                            <p height="15" id="answer_{{count}}"></p>
                        </div>
                    {% else %}
                        <div class="quiz_essay"><p>{{count}}.&nbsp;{% raw a_ques["head"] %}</p>
                            <textarea id="{{count}}_Text" name="quiz_{{a_quiz['quiz_id']}}_{{count}}"></textarea>
                            <p height="15" id="answer_{{count}}"></p>
                        </div>
                    {% end %}
                {% end %}
                <input id="save" type="submit" name="save" value="暂存作业"  />
                <input id="submit" type="submit" name="submit" value="提交作业" />
            </div>
        </form>
    </div>
    
</body>
<script>
  $(function() {
    $( "#save").button()
    $( "#submit").button()
    $( ".quiz_choices").buttonset();
  });
  </script>
</html>

