<link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
<script type="text/javascript" src="/static/js/jquery-1.11.1.min.js" charset="utf-8"></script>
<link rel="stylesheet" href="/static/css/jquery.mobile-1.4.3.min.css" />
<script type="text/javascript" src="http://apps.bdimg.com/libs/jquerymobile/1.4.3/jquery.mobile-1.4.3.min.js" charset="utf-8"></script>
<link href="/static/css/mystyle.css" rel="stylesheet" type="text/css" media="all" />
<script src="/static/js/my.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="计算机导论,作业题,国科大,本科生,计算所" />
<meta name="Description" content="国科大本科生计算机导论作业" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">