<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>实验测试入口</title>
</head>

<body>
<div id="container">
	<ul class="ui-menu">
		<li><a href="http://project.ucas-2014.tk">老鼠实验</a></li>
		<li><a href="">路由实验</a></li>
		<li><a href="">拜占庭将军实验</a></li>
	</ul>
</div>
</body>
</html>