<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>计算机导论 管理系统</title>
{% include "./htmlhead.template" %}
</head>

<body>
<div id="container">
{% include "./admin_status.template" %}

{% include "./review_navigator.template" %}

{% include "./notices.template" %}
</div>
</body>

</html>