<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>计算机导论 作业系统</title>
    <link href="/static/css/mystyle.css" rel="stylesheet" type="text/css" media="all" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="keywords" content="计算机导论,作业题,国科大,本科生,计算所" />
    <meta name="Description" content="国科大本科生计算机导论作业" />
</head>

<body>
<div id="container">
{% include "./person_status.template" %}

{% include "./navigator.template" %}

{% include "./notices.template" %}
</div>
</body>

</html>