<div id="content">

<h3>最新通知</h3>
{% for notice in notices %}
<div class="notice_content">
	<div class="brief">
	<span style="color:{{notice['importance']}}"> [{{ escape(notice['description']) }}] </span><span>通知时间&nbsp;{{notice['time']}}&nbsp;通知人&nbsp{{ escape(notice['creator']) }}</span>
	</div>
	<div class="detail">{{ escape(notice['content']) }}</div>

</div>
{% end %}


</div>