<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>计算机导论 quiz1</title>
    <link href="static/css/mystyle.css" rel="stylesheet" type="text/css" media="all" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="keywords" content="计算机导论,作业题,国科大,本科生,计算所" />
    <meta name="Description" content="国科大本科生计算机导论作业" />


    <script type="text/javascript" src="static/js/jquery.min.js"></script>
    <script>
        $(document).ready(function(c) {
            {% if flag != QuizFlag["UNDONE"] %}
                {% set count = 0 %}
                {% for a_solution in user_quiz["solutions"] %}
                    {% set count = count + 1 %}
                    {% if a_solution['solution'] %}  
                        {% if a_solution["type"] == 1 %}
                            $("input#{{count}}_{{a_solution['solution'][0]}}").attr("checked", "checked")
                        {% elif a_solution["type"] == 2 %}
                            {% for a_ans in a_solution["solution"] %}
                                $("input#{{count}}_{{a_ans}}").attr("checked", "checked")
                            {% end %}
                        {% else %}
                            $("textarea#{{count}}_Text").val("{{a_solution['solution'][0]}}");
                        {% end %}
                    {% end %}
                {% end %}

                {% if flag == QuizFlag["SEMI_SCORED"] or flag == QuizFlag["FULL_SCORED"] %}
                    $("input").attr("disabled","disabled")
                    $("textarea").attr("disabled", "disabled")
                    {% if flag == QuizFlag["FULL_SCORED"] %}
                        {% for i in len(user_quiz["solutions"]) %}
                            $("tr#answer_i").text("标准答案：{{a_quiz['content'][i]["answer"]}}，得分：{{user_quiz['solutions'][i]['score']}}")
                        {% end %}
                    {% end %}
                {% end %}
            {% else %}

            {% end %}       
        });
        </script>
</head>

<body>
{% include "./person_status.template" %}

{% include "./navigator.template" %}

<div id="content">
        <form method="post" action="/quiz/{{ a_quiz['quiz_id'] }}/submit">
            <input name="ques_count" value="{{len(a_quiz['content'])}}" hidden/>
            <table  border="0" cellpadding="0" cellspacing="5">
                <tr>
                    <td height="15">
                        <div>{{a_quiz["title"]}}</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div  style="font-size: 13px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 作业题分为单选题和问答题，选择题每一题2分，问答题每一题10分，总分100分。()
                        </div>
                    </td>
                </tr>
            </table>
            <div style="width:100%;">
                {% set count = 0 %}
                {% for a_ques in a_quiz["content"] %} 
                {% set count = count+1 %}
                    {% if a_ques["type"]  == 1%}
                <table cellspacing="0" cellpadding="0" width="100%" align="center" border="0">
                    <tbody>
                        <tr align="left">
                            <td height="25" class="hot">{{count}}.&nbsp;{{ escape(a_ques["head"]) }}</td>
                        </tr>
                        <tr align="left">
                            <td height="25">
                                <div align="left">
                                    <table cellspacing="0" cellpadding="0">
                                        {% for a_choice in a_ques["choices"] %} 
                                        <tr valign="top">
                                            <td align="left" height="22">
                                                <input id="{{count}}_{{ escape(a_choice['value']) }}" name="quiz_{{a_quiz['quiz_id']}}_{{count}}" type="radio" value="{{ escape(a_choice['value']) }}" onclick="" />
                                                <span style="cursor: pointer;" onclick=""> {{ escape(a_choice["value"]) }}.&nbsp;{{ escape(a_choice["text"]) }}</span>
                                            </td>
                                        </tr>
                                        {% end %}
                                    </table>
                                </div>
                                <div align="left"></div>
                            </td>
                        </tr>
                        <tr align="left">
                            <td height="15" id="answer_{{count}}">正确答案：A，得分：20</td>
                        </tr>
                    </tbody>
                </table>
                    {% else %}
                <table cellspacing="0" cellpadding="0" width="100%" align="center" border="0">
                    <tbody>
                        <tr align="left">
                            <td height="25" class="hot">{{count}}{{ escape(a_ques["head"]) }}</td>
                        </tr>
                        <tr align="left">
                            <td height="25">
                                <div align="left">
                                    <textarea id="{{count}}_Text" name="quiz_{{a_quiz['quiz_id']}}_{{count}}"></textarea>
                                </div>
                                <div align="left"></div>
                            </td>
                        </tr>
                        <tr align="left">
                            <td height="15" id="answer_{{count}}"></td>
                        </tr>
                    </tbody>
                </table>
                    {% end %}
                {% end %}
                <input type="submit" name="save" value="save"  />
                <input type="submit" name="submit" value="submit" />
            </div>
        </form>
    </div>
    
</body>

</html>

