<table border=1>
	{% for stu in users_list %}
	<tr>
		<td>{{ stu["name"] }}&nbsp;{{ stu["userId"] }}</td>
		{% for a_quiz in stu["quiz_info"] %}
		<td>quiz_id={{a_quiz["quiz_id"]}}&nbsp;all_score={{a_quiz["all_score"]}}&nbsp;flag={{a_quiz["flag"]}}</td>
		{% end %}
	</tr>
	{% end %}
</table>