body {
	background-color: rgb(174, 174, 180);
}
html, body,#container {
	margin: 0;
	padding: 0;
	height: 100%;
}
#container {
	height: auto;
	min-height:100%;
}

#person_status {
	position:absolute;
	top:10px;
	left: 220px;
	right: 10px;
	height: 40px;
	margin: 0;
	padding-right: 20px;
	text-align: right;
}


.navigator{
	position:absolute;
	left:10px;
	margin: 0;
	padding: 0;
	width: 200px;
	height: 100%;
	background: transparent;
}

 #content {
 	position:relative;
 	min-height:70%;
 	left:220px;
 	top: 70px;
 	margin: 0;
 	padding: 0 0 0 20px;
	width: 1000px;
	background: transparent;
 }

 #page_navigator{
	position:relative;
	z-index: 10;
	left:220px;
	border: solid 1px #0e0;
	padding: 0;
	width: 100%;
	height: 60px;
	margin-top: 5em;
	background: transparent;
	clear:both;
}

.time {
	font-size: 15px;
	font-style: italic;
	margin:0.5em 0 0.5em 0;
}

.warn {
	font-size: 20px;
	font-weight:bold;
	margin:0.5em 0 0.5em 0;
}

#quiz_description{
	font-size: 18px;
}

.notice_content, .brief, .detail {
	margin-top: 30px;
}

.brief {
	margin-top: 10px;
	font-style: italic;
}

.detail {
	margin-top: 10px;
	padding-left: 10px;
}