.ui-li-static.ui-collapsible {
	padding: 0;
}
.ui-li-static.ui-collapsible > .ui-collapsible-heading{
	margin: 0;
}

#quiz_menu a, #project_menu a{
	font-size: 0.8em;
}

#nav-panel .legend>a{
	font-size: 1em;
}

html, body {
    margin:0;
    padding:0;
    height:100%; /* needed for container min-height */
    font-family:arial,sans-serif;
}

div#container {
    position:relative; /* needed for footer positioning*/
    height:auto !important; /* real browsers */
    height:100%; /* IE6: treaded as min-height*/
    min-height:100%; /* real browsers */
}

div#footer {
    position:absolute;
    width:100%;
    bottom:0; /* stick to bottom */
}

div.ques_head {
	font-weight:bold;
	font-size: 1.2em;
	margin: 10px 0 10px 0;
}
div.ques_content {
	margin: 20px 0 10px 0;
	font-size: 1em;
	font-style: italic;
}

.warn {
	font-size: 20px;
	font-weight:bold;
	margin:0.5em 0 0.5em 0;
}

#quiz_description{
	font-size: 18px;
}

.time {
	font-size: 15px;
	font-style: italic;
	margin:0.5em 0 0.5em 0;
}


table.ques_desc, table.ques_desc td {
	border: 1px solid black;
}

table.ques_desc_dashed {
	border:1px dashed black;

}

/*notice page*/
.notice_content, .brief, .detail {
	margin-top: 30px;
}

.brief {
	margin-top: 10px;
	font-style: italic;
}

.detail {
	margin-top: 10px;
	padding-left: 10px;
}

/* upload and download*/
div.action {
	width:100%;
}


.note {
	margin: 2em  0 2em  0;
}

table.uploadTable, table.schedule{
	margin-top: 2em;
	width:100%;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
}
table.uploadTable td ,table.schedule td{
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
table.schedule tr td{
	text-align:center;
}

table.schedule tr:hover{
	background-color: yellow;
}