body {
	background-color: rgb(174, 174, 180);
}
html, body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	height: 100%;
}

#container {
	position:static;
	min-height: 80%;
	height: auto;
}

#person_status {
	height: 15px;
	position:static;
	text-align: right;
	padding: 5px 15px 5px 0;
}


.navigator{
	position:static;
	width:auto;
	text-align: left;
	padding: 5px 5px 5px 5px;
	display:inline-block;
	vertical-align: top;
	background: transparent;
}

 #content {
 	position:static;
	width:70%;
	padding-left: 5px;
	display:inline-block;
	text-align: left;
 	min-height:70%;
	background: transparent;
 }

 #page_navigator{
	padding: 1em 0 1em 0;
	text-align: left;
	width: 100%;
	height: 60px;
	background: transparent;
}

.footer {
	position:static;
	height: 10%;
	width: 100%;
	text-align: center;
	padding-top: 20px;
}

.time {
	font-size: 15px;
	font-style: italic;
	margin:0.5em 0 0.5em 0;
}

.warn {
	font-size: 20px;
	font-weight:bold;
	margin:0.5em 0 0.5em 0;
}

#quiz_description{
	font-size: 18px;
}

.notice_content, .brief, .detail {
	margin-top: 30px;
}

.brief {
	margin-top: 10px;
	font-style: italic;
}

.detail {
	margin-top: 10px;
	padding-left: 10px;
}

