{% from datetime import datetime %}
{% from HwWebUtil import QuizStatus %}
<script>
var global_admin_id = "{{info['adminId']}}";
var global_group_name = global_admin_id;
</script>
<div id="nav-panel" data-role="panel">
    <ul data-role="listview" class="ui-listview-outer">
       <li data-iconpos="right" data-shadow="false" data-corners="false"><a href="/admin" data-ajax="false">管理员首页</a></li>
      <li data-role="collapsible" data-iconpos="right" data-shadow="false" data-corners="false">
        <h2 class="legend">后台管理</h2>
        <ul id="quiz_menu" data-role="listview" data-corners="false">
          <li><a href="/project/zipdownload" data-ajax="false">下载大实验报告</a></li>
        <li><a href="/studentlist" data-ajax="false">查看学生作业情况</a></li>
        {% for quizIndex in quizs_index %}
          {% set clickEvent = "" %}
        {% if quizIndex['status']  == QuizStatus["UNPUBLISH"] %} 
    {% set statusStr = "未发布" %}
    {% set clickEvent = "javascript:alert('未发布');href='/admin'" %}
  {% elif quizIndex['status']  == QuizStatus["PUBLISH"]  and datetime.now() < datetime.strptime(quizIndex["deadline"],"%Y-%m-%d %H:%M:%S")   %}
    {# set clickEvent = "javascript:alert('已发布')" #}
    {% set statusStr = "未截止，无法评分" %}
  {% elif  quizIndex['status'] != QuizStatus["REVIEW"] and not (datetime.now() < datetime.strptime(quizIndex["deadline"],"%Y-%m-%d %H:%M:%S") ) %}
    {% set statusStr = "等待评分" %}
  {% elif quizIndex['status'] == QuizStatus["REVIEW"] %}
    {# set clickEvent = "javascript:alert('已评分')" #}
    {% set statusStr = "已评分" %}
  {% end %}
            <li><a href="/review/{{quizIndex['quiz_id']}}" title="quiz{{quizIndex['quiz_id']}}" onclick=" {% raw clickEvent %}" data-ajax="false">Homework{{quizIndex['quiz_id']}} 
({{escape(statusStr)}})
              &nbsp; </a>
            </li>
        {% end %}
        <li><a href="/admin/resetPassword" data-ajax="false">重置学生密码入口</a></li>
        <li><a href="/admin/setGroupName" data-ajax="false">设置学生组号入口</a></li>
        <li><a href="/admin/notice/list" data-ajax="false">通知管理</a></li>
        </ul >
      </li>
      <li data-role="collapsible" data-iconpos="right" data-shadow="false" data-corners="false">
        <h2 class="legend">Experiment</h2>
        <ul id="project_menu" data-role="listview" data-corners="false">
          <li><a href="/static/ucas-exp/exp2" target="_blank" data-ajax="false">实验二（算法）</a></li>
          <li><a href="/static/ucas-exp/exp3" target="_blank" data-ajax="false">实验三（网络）</a></li>
          <li><a href="/static/ucas-exp/exp4" target="_blank" data-ajax="false">实验四（系统）</a></li>
          </ul>
       </li>
     </ul>
  </div>
{% include "../header-password.html" %}
  <div id="person_status" data-role="header">
    <a href="#nav-panel" data-icon="bars">导航</a>
    <h1 id="header-title">管理员首页</h1>
    <a href="#nav-info-modify" data-icon="user" data-iconpos="right">{{info['name']}} &nbsp;&nbsp;{{info['adminId']}}</a>
  </div>
